/* ANIMATIONS */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ani-fade {
    animation: fade 0.5s ease;
}


@keyframes fromBottom {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.ani-fromBottom {
    animation: fromBottom 0.1s ease;
}


@keyframes fromRight {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.ani-fromRight {
    animation: fromRight 0.1s;
}


@keyframes fromLeft {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.ani-fromLeft {
    animation: fromLeft 0.1s;
}